{% extends 'main/base.html' %}

{% block title %}User Login - Netfix{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Login</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST" class="login-form">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
            <div class="error-message">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
        {% if form.email.errors %}
            <div class="error-message">{{ form.email.errors }}</div>
        {% endif %}

        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
        {% if form.password.errors %}
            <div class="error-message">{{ form.password.errors }}</div>
        {% endif %}

        <button type="submit">Login</button>
    </form>
    <div class="login-section">
        <p>Don‘t have a profile</p>
        <a href="{% url 'users:register' %}" class="signup-link">Sign Up</a>
    </div>
</div>
{% endblock %}
