{% extends 'main/base.html' %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="profile-header">
        <div class="profile-info">
            <h1>{{ user.username }}{% if user.is_customer %} ({{user.customer.age}} y/o){% endif %}</h1>
            <p>{{ user.email }}</p>
        </div>
        <p class="profile-type">{% if user.is_customer %}Customer{% else %}{{user.company.field}} Company{% endif %}</p>
    </div>

    <h2 class="title">
        {% if user.is_customer %}
            Previous Requested Services
        {% else %}
            Available Services
        {% endif %}
    </h2>

    {% if user.is_customer %}
        {% for service in sh %}
            <div class="service-item">
                <a href="{% url 'services:detail' service.service.id %}">{{service.service.name}}</a> ({{service.service.field}})
                <div class="service-details">
                    <div class="service-info">
                        <span>Price: {{service.price}}</span>
                        <span> • </span>
                        <span>Date: {{ service.request_date }}</span>
                    </div>
                    <p class="company-link">
                        by <a href="{% url 'users:profile' service.service.company.user.username %}">{{service.service.company.user.username}}</a>
                    </p>
                </div>
            </div>
        {% empty %}
            <p class="no-services">No services requested yet.</p>
        {% endfor %}
    {% else %}
        {% for service in services %}
            <div class="service-item">
                <a href="{% url 'services:detail' service.id %}">{{service.name}}</a>
                <div class="service-details">
                    <div class="service-info">
                        <span>Price: {{service.price_hour}}€/hour</span>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="no-services">No services available yet.</p>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
