<!-- users/tempates/users/profile.html -->

{% extends 'main/base.html' %}
{% block title %}{{ user.username }}'s Profile{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/users.css' %}">
<div class="profile_container">
    <div class="profile-header">
        <div class="profile-info">
            <h1>{{ user.username }}{% if user.is_customer %} ({{ age }} y/o){% endif %}</h1>
            <p>{{ user.email }}</p>
        </div>
        <p class="profile-type">
            {% if user.is_customer %}
                Customer
            {% else %}
                {{ user.company.field }} Company
            {% endif %}
        </p>
    </div>
    <h2 class="title">
        {% if user.is_customer %}
            Previous Requested Services
        {% else %}
            Available Services
        {% endif %}
    </h2>
    {% if user.is_customer %}
    <div class="services_list">
        {% for service in sh %}
        <div class="service-item">
            <a href="{% url 'services:index' id=service.service.id %}">{{service.service.name}}</a> ({{service.service.field}})
            <div class="service-details">
                {% include "services/_star_rating.html" with rating=service.rating %}
                <div class="service-info">
                    <span>Price: ${{service.price}}</span>
                    <span>Date: {{ service.request_date|date:"F d, Y H:i" }}</span>
                    <span>Duration: {{ service.service_time }} hour(s)</span>
                    <span>Address: {{ service.address }}</span>
                </div>
                <p class="company-link">
                    by <a href="{% url 'users:profile' service.service.company.user.username %}">{{service.service.company.user.username}}</a>
                </p>
            </div>
        </div>
        {% empty %}
        <p class="no-services">No services requested yet.</p>
        {% endfor %}
    </div>
    {% else %}
    <div class="services_list">
        {% for service in services %}
        <div class="service-item">
            <a href="{% url 'services:index' id=service.id %}">{{service.name}}</a>
            {% include "services/_star_rating.html" with rating=service.rating %}
            <div class="service-details">
                <div class="service-info">
                    <p>{{ service.description|truncatewords:20 }}</p>
                    <span>Price: ${{service.price_hour}}/hour</span>
                    <span>Field: {{ service.field }}</span>
                    <span>Created: {{ service.date|date:"F d, Y" }}</span>
                    {% if user.is_authenticated and user.is_company and request.user.company == service.company %}
                        <form action="{% url 'services:delete_service' id=service.id %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class = "delete-button"return confirm('Are you sure you want to delete this service?');">Delete Service</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p class="no-services">No services available yet.</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}