{% extends 'main/base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h1>{{ user.username }}{% if user.is_customer %} ({{user.customer.age}} y/o){% endif %}</h1>
            <p>{{ user.email }}</p>
        </div>
        <p>{% if user.is_customer %}Customer{% else %}{{user.company.field}} Company{% endif %}</p>
    </div>

    <p class="title">
        {% if user.is_customer %}
            Previous Requested Services
        {% else %}
            Available Services
        {% endif %}
    </p>

    {% if user.is_customer %}
        {% for service in sh %}
            <div>
                <a href="{% url 'services:detail' service.service.id %}">{{service.service.name}}</a> ({{service.service.field}})
                <p style="margin: 0; display: inline-block;"> ❱❱ {{service.price}}</p>
                <p style="margin: 0; display: inline-block;"> ❱❱ {{ service.request_date }}</p>
                <p style="float: right; margin: 0;">
                    by <a href="{% url 'users:profile' service.service.company.user.username %}">{{service.service.company.user.username}}</a>
                </p>
            </div>
            <div class="line"></div>
        {% empty %}
            <p>No services requested yet.</p>
        {% endfor %}
    {% else %}
        {% for service in services %}
            <div class="list_services_profile">
                <a href="{% url 'services:detail' service.id %}">{{service.name}}</a> -- {{service.price_hour}}€/hour
                <div class="line"></div>
            </div>
        {% empty %}
            <p>No services available yet.</p>
        {% endfor %}
    {% endif %}
{% endblock %}