{% extends 'main/base.html' %}

{% block title %}Company Registration - Netfix{% endblock %}

{% block content %}
<div class="registration-container">
    <h1>Company Registration</h1>
    <form method="POST" class="registration-form">
        {% csrf_token %}

        <label for="id_username">Username:</label>
        {{ form.username }}

        <label for="id_email">Email:</label>
        {{ form.email }}

        <label for="id_password1">Password:</label>
        {{ form.password1 }}

        <label for="id_password2">Confirm Password:</label>
        {{ form.password2 }}

        <label for="id_field_of_work">Field of Work:</label>
        {{ form.field_of_work }}
        <span class="helptext">Choose Field Above</span>

        <button type="submit" name="register">Register</button>
    </form>
    <div class="login-section">
        <p>Have an account?</p>
        <a href="{% url 'users:login_user' %}" class="login-link">Log in</a>
    </div>
</div>
{% endblock %}
