{% load static %}
<header>
    <nav class="container">
        <a href="{% url 'main:home' %}" class="logo-link">
            <img src="{% static 'logo.svg' %}" alt="Netfix" class="logo">
        </a>
        <ul class="nav-links">
            <li><a href="{% url 'main:home' %}">Home</a></li>
            <li class="services-dropdown">
                <a href="{% url 'services:services_list' %}" class="dropdown-toggle">Services</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'services:services_field' 'air-conditioner' %}">Air Conditioner</a></li>
                    <li><a href="{% url 'services:services_field' 'all-in-one' %}">All in One</a></li>
                    <li><a href="{% url 'services:services_field' 'carpentry' %}">Carpentry</a></li>
                    <li><a href="{% url 'services:services_field' 'electricity' %}">Electricity</a></li>
                    <li><a href="{% url 'services:services_field' 'gardening' %}">Gardening</a></li>
                    <li><a href="{% url 'services:services_field' 'home-machines' %}">Home Machines</a></li>
                    <li><a href="{% url 'services:services_field' 'house-keeping' %}">Housekeeping</a></li>
                    <li><a href="{% url 'services:services_field' 'interior-design' %}">Interior Design</a></li>
                    <li><a href="{% url 'services:services_field' 'locks' %}">Locks</a></li>
                    <li><a href="{% url 'services:services_field' 'painting' %}">Painting</a></li>
                    <li><a href="{% url 'services:services_field' 'plumbing' %}">Plumbing</a></li>
                    <li><a href="{% url 'services:services_field' 'water-heaters' %}">Water Heaters</a></li>
                </ul>
            </li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'users:profile' request.user.username %}">Profile</a></li>
                <li><a href="{% url 'main:logout' %}" class="logout-btn">Log Out</a></li>
            {% else %}
                <li><a href="{% url 'users:login_user' %}">Log In</a></li>
                <li><a href="{% url 'users:register_company' %}">Become a Tasker</a></li>
                <li><a href="{% url 'users:register' %}" class="sign-up-btn">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
</header>