{% load static %}
<header>
    <nav class="container">
        <a href="{% url 'main:home' %}" class="logo-link">
            <img src="{% static 'logo.svg' %}" alt="Netfix" class="logo">
        </a>
        <ul class="nav-links">
            <li><a href="{% url 'main:home' %}">Home</a></li>
            <li>
                <a href="/services/">Services</a>
                <ul>
                    <li><a href="/services/air-conditioner">Air Conditioner</a></li>
                    <li><a href="/services/carpentry">Carpentry</a></li>
                    <li><a href="/services/electricity">Electricity</a></li>
                    <li><a href="/services/gardening">Gardening</a></li>
                    <li><a href="/services/home-machines">Home Machines</a></li>
                    <li><a href="/services/house-keeping">House Keeping</a></li>
                    <li><a href="/services/interior-design">Interior Design</a></li>
                    <li><a href="/services/locks">Locks</a></li>
                    <li><a href="/services/painting">Painting</a></li>
                    <li><a href="/services/plumbing">Plumbing</a></li>
                    <li><a href="/services/water-heaters">Water Heaters</a></li>
                </ul>
            </li>
            {% if user.is_authenticated %}
                {% if user.is_company %}
                    <li><a href="{% url 'services:services_list' %}">My Services</a></li>
                {% else %}
                    <li><a href="{% url 'services:services_create' %}">Requested Services</a></li>
                {% endif %}
                <li><a href="{% url 'users:profile' request.user.username %}">Profile</a></li>
                <li><a href="{% url 'main:logout' %}" class="logout-btn">Log Out</a></li>
            {% else %}
                <li><a href="{% url 'users:login_user' %}">Log In</a></li>
                <li><a href="{% url 'users:register_company' %}">Become a Tasker</a></li>
                <li><a href="{% url 'users:register' %}" class="sign-up-btn">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
</header>