<!-- services/templates/services/list.html -->
{% extends 'main/base.html' %}
{% block title %}
    Services List
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<link rel="stylesheet" href="{% static 'rating.css' %}">
    <div class="services_list_container">
        <div class="header">
            <p class="title">Services Available</p>
            {% if user.is_company %}
                <a class="create_service" href="{% url 'services:services_create' %}">Create Service</a>
            {% endif %}
        </div>
        <div class="sort-options">
            <form method="GET" action="">
                <label for="sort_by">Sort by:</label>
                <select name="sort_by" id="sort_by" onchange="this.form.submit()">
                    <option value="date" {% if sort_by == 'date' %}selected{% endif %}>Newest</option>
                    <option value="requests" {% if sort_by == 'requests' %}selected{% endif %}>Most Requested</option>
                </select>
            </form>
        </div>
        
        <div class="services_list">
            {% if services %}
                {% for service in services %}
                    <div class="service-item">
                        <h3><a href="{% url 'services:index' id=service.id %}">{{ service.name }}</a></h3>
                        <p>{{ service.description|truncatewords:20 }}</p>
                        {% include "services/_star_rating.html" with rating=service.rating %}
                        <div class="service-meta">
                            <p class = "price">Price: €{{ service.price_hour }}/hour</p>
                            <p>Field: {{ service.field }}</p>
                            <p>by: {{ service.company.user.username }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h2>Sorry, no services available yet</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}
